# LOGS
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# NODE-MODULES
node_modules

# MISC
.DS_Store

# BUILD
dist
dist-ssr

# LOCAL
*.local

# TESTING
coverage
/cypress/videos/
/cypress/screenshots/

# IDE FILES
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TYPESCRIPT
*.tsbuildinfo
